<div class="container">
  <h2><span>Home</span></h2>
  <hr style="position: absolute;width:85%; height:6px; background-color: #333; z-index:-1; margin-top: -170px;"/>
  <hr/>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-img-top">
          <a class="pointer" routerLink="/bookList">
            <img src="../../../assets/image/bestseller.png" class="img-fluid" alt=""/>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top">
          <a class="pointer" routerLink="/hours">
            <img src="../../../assets/image/hours.png" class="img-fluid" alt=""/>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top">
          <a class="pointer" routerLink="/faq">
            <img src="../../../assets/image/faq.png" class="img-fluid" alt=""/>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div>
    <h4><span>Featured Books</span></h4>
    <hr/>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      <img class="img-responsive" style="width: 70%;" src="../../../assets/image/book1.png" alt=""/>
    </div>
    <div class="col-2">
      <img class="img-responsive" style="width: 70%;" src="../../../assets/image/book1.png" alt=""/>
    </div>
    <div class="col-2">
      <img class="img-responsive" style="width: 70%;" src="../../../assets/image/book1.png" alt=""/>
    </div>
    <div class="col-2">
      <img class="img-responsive" style="width: 70%;" src="../../../assets/image/book1.png" alt=""/>
    </div>
    <div class="col-2">
      <img class="img-responsive" style="width: 70%;" src="../../../assets/image/book1.png" alt=""/>
    </div>
    <div class="col-2">
      <img class="img-responsive" style="width: 70%;" src="../../../assets/image/book1.png" alt=""/>
    </div>
  </div>
</div>
